name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      APP_PROD_YML: ${{ secrets.APP_PROD_YML }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create application-prod.yml
        run: |
          echo "$APP_PROD_YML" > backend/src/main/resources/application-prod.yml

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push backend image
        run: |
          docker build -t $DOCKERHUB_USERNAME/file-extension-filter-backend:latest ./backend
          docker push $DOCKERHUB_USERNAME/file-extension-filter-backend:latest
      
      - name: Build and push frontend image
        run: |
          docker build -t $DOCKERHUB_USERNAME/file-extension-filter-frontend:latest ./frontend
          docker push $DOCKERHUB_USERNAME/file-extension-filter-frontend:latest


  deploy-to-ec2:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: SSH & Deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker-compose pull
            docker-compose up -d
